<div class="form-box">
  <h2 class="text-3xl md:text-center">新規登録</h2>

  <%= form_with model: @user, url: registration_path(resource_name), local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "font-semibold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "font-semibold" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "font-semibold" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "登録する", class: "btn btn-sky" %>
    </div>
  <% end %>

<%= render "devise/shared/links" %>
</div>
