<!DOCTYPE html>
<html>
  <head>
    <title>Devise704Tailwindcss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%#--------- FontAwesome ----------%>
    <script src="https://kit.fontawesome.com/d8aa0fa532.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="min-h-screen bg-gray-100">
        <%= render 'layouts/navigation' %>
        <div class="px-8 py-3 mx-auto">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <% if Rails.env.development? %>
            <div class="p-3 bg-gray-200 text-red-500 rounded">
              <p class="sample sample-child"><%= debug(params) %></p>
              <p>セッションID => <%= session["warden.user.user.key"] %></p>
            </div>
          <% end %>
        </div>
    </div>
  </body>
</html>
